<div class="row">
    <section id="intro" class="col-sm-8">
        <h2>There is a Difference</h2>
        <p><span class="firstcharacter">W</span>e have been serving the Denver, Colorado metro area since 1992. Locally owned and operated, Vista Hardwood Floors has thousands of satisfied customers and a reputation of quality workmanship.</p>
        <p>At Vista Hardwood Floors, we realize your home - or business - is your castle: that's why we use only the highest quality products and "dustless" systems on your floors.</p>  
        <p>We provide clear, up-front pricing and perform all the work ourselves using only premium stains and finishes.  The job isn't done, until it's done right.</p>
        <p>Vista Hardwood Floors is veteran-owned and Colorado proud.  We stand ready to assist you with your next hardwood flooring project.</p>
    </section>
    <section id="contact" class="col-sm-4 text-center">
        <h2>Contact Us</h2>
        <address>
           <strong>Vista Hardwood Floors</strong>
           <br>P.O. Box 2495
           <br>Evergreen, CO 80437
           <br><strong>(303) 902-9403</strong>
           <br><a href="mailto:michael@vistahardwood.com">michael@vistahardwood.com</a>
        </address>
    </section>
</div>  
<div class="row">
    <section id="services" class="col-sm-6 col-lg-4 marketing text-center">
        <img class="img-circle img-responsive img-center" src="https://colestock.s3.amazonaws.com/images/services-flat-icon-200x200.png" alt="Services Flat Icon">
        <h2>Our Services</h2>
        <p>"Dustless" Hardwood Floor Refinishing</p>
        <p>New Hardwood Flooring Installations</p>
        <p>Restoration and Repairs</p>
        <p>Stain Consulting</p>
    </section>
    <section id="difference" class="col-sm-6 col-lg-4 marketing text-center">
        <img class="img-circle img-responsive img-center" src="https://colestock.s3.amazonaws.com/images/thumbs-up-flat-icon-200x200.png" alt="Best Choice Flat Icon">
        <h2>The Vista Hardwood Difference</h2>
        <p>Only premium stains and finishes</p>
        <p>Three coats of low-VOC finish</p>
        <p>Total dust containment</p>
        <p>Trowel fill the whole floor</p>
    </section>
    <div class="clearfix visible-sm-block"></div>
    <section id="attention-to-detail" class="col-sm-12 col-lg-4 marketing text-center">
        <div class="thumbnail">
           <img src="http://www.vistahardwood.com/img/plastic_draping_800x600.png" alt="Draping plastic on all non-affected areas">
           <div class="caption">
              <h3>Attention to Detail</h3>
              <p>Draping plastic to protect all unaffected areas: just another reason why Vista is different...</p>
              <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
           </div>
        </div>
    </section>        
</div>