$primary-color: rgba(67, 24, 17, 1);
$secondary-color: #daa520;
$tertiary-color: rgba(67, 24, 17, 1);
$light-color: #ffffff;
$primary-font-family: Sumana, sans-serif;
$paragraph-font-family: "Josefin Sans",sans-serif;
$paragraph-font-color: rgba(21, 22, 15, 1);

body {
    font-family: $primary-font-family;
    background: url('https://colestock.s3.amazonaws.com/images/cream-dust-bg-50x50.png');
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $primary-color;
}

p {
    font-family: $paragraph-font-family;
    color: $paragraph-font-color;
}

h2 {
    margin-bottom: 20px;
}

section {
    margin-bottom: 3em;
}

.navbar {
    background-color: $primary-color;
    margin-bottom: 0;
}

.navbar, .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: 0 none;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

#masthead {
    background: url('https://colestock.s3.amazonaws.com/images/vista-wood-6-2560x1600.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}

#logo {
    position: relative;
    width: 100%;
}

.firstcharacter {
    float: left;
    color: $tertiary-color;
    font-size: 75px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
    font-family: Georgia;
}


footer {
    padding: 3em 0;
    background-color: $secondary-color;
}

@media (min-width: 768px) {
    .navbar {
        position: absolute;
        right: 0;
        top: 0;
        border-radius: 0;
        background-color: transparent;
    }
    section {
        margin-bottom: 2em;
    }
}