$primary-color: #261514;
$secondary-color: #DAA520;

#masthead {
    background: url('https://colestock.s3.amazonaws.com/images/vista-wood-6-2560x1600.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}

#logo {
    position: relative;
    width: 100%;
}

.navbar-default {
    background-color: $primary-color;
}

.navbar-collapse {
    background-color: white;
}

footer {
    padding: 3em 0;
    background-color: $secondary-color;
}

@media (min-width: 768px) {
    .navbar {
        border-radius: 0;
    }
}