form#new_quote {
    margin-bottom: 2em;
}

#request-quote {
    
    hr {
       margin-top: 8px;
       margin-bottom: 8px;
    }
    
    p:not(.help-block) {
        font-size: 1.3em;
    }
    
}